/*body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.container > img{
    width: 350px;
    height: 350px;

}
    */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
    

.container{
    width: 500px;
    height: 650px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow:antiquewhite;
}
.container > img{
    width: 450px;
    height: 450px;
    border-radius: 10px;
    margin-top: 20px;
}
.container > h2{
    text-align: center;
}
.container > p{
    text-align: center;
    margin: 20px;
}